<h1>Field Details</h1>

<div class="fieldDetails">
	<h3>{{fieldInfo.fName}}</h3>
		<fieldset>
			<legend>Field Attributes</legend>
			<ul class="formalList">
				<li>Location: {{fieldInfo.fCity}} ,{{fieldInfo.fState}}</li>
				<li>Current Temperature: {{fTemp}} F </li>
				<li>Area: {{fieldInfo.fAcres}} acres</li> 
				<li>Crop: {{fieldInfo.fCrop}}</li>
				<li>Planting Date: {{fieldInfo.fPDate}}</li>
				<li>Record created on {{fieldInfo.cDate}} by {{fieldInfo.cUser}}</li>
			</ul> 
			<form method="post" class="rightForm">
				<input type="hidden" name="id" value="{{fieldInfo.id}}">
				<input type="submit" name="editFieldAtt" value="Edit">
			</form>
		</fieldset>
	
		<fieldset>
			<legend>Field Ops Notes</legend>
			<ul class="formalList">
				<li>Row Spacing: </li>
				<li>Seed Spacing: </li> 
				<li>Irrigation Type: </li>
			</ul> 
			<form method="post" class="rightForm">
				<input type="hidden" name="id" value="{{fieldInfo.id}}">
				<input type="submit" name="editFieldOps" value="Edit">
			</form>
		</fieldset>

</div>

